@font-face {
	font-family: 'League Spartan';
    src: url('../fonts/leaguespartan-bold.ttf');
    font-weight: bold;
    font-style: normal;
}
* {
	box-sizing: border-box;
}
body {
	background-color: #E6E7E8;
}
a {
	text-decoration: none;
}
p {
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	color: #330D2B;
}
h1 {
	font-family: 'League Spartan';
	font-size: 40px;
	color: #330D2B;
	margin: 0 0 5px 0;
}
h2 {
	font-family: 'League Spartan';
	font-size: 18px;
	color: #9B3E83;
	margin: 0;
}
h3 {
	font-family: 'League Spartan';
	font-size: 16px;
	color: #330D2B;
	margin: 0;
}
h4 {
	font-family: 'League Spartan';
	font-size: 18px;
	color: #330D2B;
	margin: 0;
}
.btn {
	font-family: 'League Spartan';
	font-size: 14px;
	letter-spacing: 1.1px;
	color: #fff;
	background-color: #9B3E83;
	padding: 10px 12px;
	display: inline-block;
	border: 0;
}
.btn:hover {
	background-color: #C38BB5;
} 

/* SIDEBAR / NAV */
aside {
	width: 30%;
	height: 100vh;
	position: fixed;
	background-color: #fff;
	overflow: hidden;
	float: left;
}
.masthead {
	padding: 50px;
	width: 100%;
	float: left;
	overflow: hidden;
}
.masthead img {
	display: block;
	margin-bottom: 15px;
}
.masthead a.logo {
	font-family: 'League Spartan';
	font-size: 32px;
	letter-spacing: 1.5px;
	color: #9B3E83;
	margin-bottom: 15px;
	text-align: left;
	float: left;
	clear: both;
}
.masthead hr {
	width: 100px;
	color: #ABABAB;
	display: block;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
}
.masthead p {
	font-style: italic;
	float: left;
	clear: both;
	margin-top: 25px;
}
nav {
	width: 60%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #ABABAB;
	padding: 0;
	margin-bottom: 25px;
	float: left;
}
nav ul {
	width: 100%;
	padding: 0;
	margin: 0;
}
nav ul li {
	border-bottom: 1px solid #ABABAB;
	padding: 20px 0 10px 0;
}
nav li a {
	font-family: 'League Spartan';
	font-size: 20px;
	color: #330D2B;
	text-align: right;
	display: block;
}
nav li a:hover {
	color: #9B3E83;
}
.social {
	float: right;
	clear: both;
	padding-top: 20px;
}
.social i {
	color: #9B3E83;
	font-size: 1.5em;
	padding-left: 10px;
}
.social i:hover {
	color: #C38BB5;
}

/* MAIN SECTION */
section {
	width: 70%;
	height: 100vh;
	float: right;
}
.splash {
	background-image: url("../images/home-bg.jpg");
	background-size: cover;
}

/* PUBLICATION PAGES */
.container {
	width: 88%;
	margin: 60px auto;
	margin-bottom: 25px;
}
.container:after{
    clear: both;
    content: "";
    display: block;
}
.title {
	width: 100%;
	margin-bottom: 25px;
	padding: 0;
}
.title p a {
	font-family: 'League Spartan';
	font-size: 18px;
	color: #9B3E83;
}
.title p a:hover {
	opacity: .7;
}
.single-pub-cover {
	float: left;
	width: 55%;
	overflow: hidden;
}
.single-pub-cover img {
	width: 100%;
}
.single-pub-description {
	float: left;
	width: 45%;
	padding-left: 50px;
}
.single-pub-description h2 {
}
.single-pub-description h2 a {
	color: #9B3E83;
}
.single-pub-description h2 a:hover {
	opacity: .7;
}
.single-pub-description h3 {
	margin-bottom: -5px;
	padding-top: 10px;
	border-bottom: 1px solid #BBBBBB;
}
.single-pub-description .btn {
	margin: -5px 10px 0 0;
}
h3.back {
	border: none;
	margin: 20px 25px 0 0;
	float: left;
}
.back a {
	color: #330D2B;
}
.back a:hover {
	color: #9B3E83;
}
h4.subtitle {
	margin: -5px 0 10px 0;
	font-style: italic;
}

/* PUBLICATIONS GRID */
.pub {
	float: left;
	width: 47%;
	background-color: #fff;
	margin-bottom: 30px;
	overflow: hidden;
}
.pub-left {
	margin-right: 20px;
}
.pub-right {
	margin-left: 20px;
}
.pub img {
	width: 100%;
}
.pub-text {
	width: 100%;
	padding: 15px;
}
.pub h3 {
	font-size: 20px;
}
.pub p {
	margin: 0;
	font-style: italic;
}
.pub a:hover {
	opacity: .7;
}
/* TITLE COLORS */
.pub-tc1 {
	color: #9B3E83;
}
.pub-tc2 {
	color: #309E9C;
}
.pub-tbw {
	color: #56857B;
}
.pub-ssf {
	color: #9B7415;
}
.pub-wwlg {
	color: #ED4439;
}
.pub-tr {
	color: #807D52;
}

/* SUBSCRIBE */
.subscribe {
	background-image: url("../images/subscribe-bg.jpg");
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrap {
	width: 100%;
}
form {
	background-color: rgba(255,255,255,.9);
	text-align: left;
	padding: 60px 60px 40px 60px;
	width: 65%;
	margin: 0 auto;
}
form h3 {
	font-size: 28px;
	letter-spacing: 1.5px;
}
input {
	padding: 10px;
}
a.tinyletter {
	font-size: 14px;
	font-style: italic;
	color: #9B3E83;
}
a.tinyletter:hover	 {
	color: #C38BB5;
}
/* ABOUT */
.def {
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	color: #330D2B;
	margin: 10px 0 20PX 0;
}
.def li {
	padding-bottom: 10px;
}
.about-text-left {
	width: 50%;
	float: left;
	padding-right: 20px;
}
.about-text-right {
	width: 50%;
	float: right;
	padding-left: 20px;
}
.about-bottom {
	width: 100%;
	height: 50%;
	overflow: hidden;
	float: right;
	background-image: url(../images/about.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
}
.links {
	width: 50%;
	float: left;
	text-align: left;
}
.links a {
	font-family: 'League Spartan', sans-serif;
	font-size: 14px;
	color: #9B3E83;
	display: block;
	padding: 5px 10px 0 0;
}
.copyright {
	font-size: 14px;
	font-style: italic;
	color: #9B3E83;
}
/* WEBCOMICS */
.webcomics-splash1 {
	width: 100%;
	height: 50vh;
	display: flex;
    justify-content: center;
    align-items: center;
	background-image: url(../images/aob.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #1892FF;
}
.webcomics-splash2 {
	width: 100%;
	height: 50vh;
	background-color: #FAEBD7;
	display: flex;
    justify-content: center;
    align-items: center;
}
.webcomics-splash-title {
	font-size: 32px;
	color: #fff;
	text-align: center;
}